::-moz-selection {
	background: #e6e6e6;
}

::selection {
	background: #e6e6e6;
}

* {
	font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

*:focus {
	outline: none;
	border: 2px solid #ccc;
}

body {
	margin: 1rem;
}

h1 {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 0.1rem;
}

a {
	padding: 0.25rem;
	border: 2px solid transparent;
	color: dodgerblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.art {
	display: inline-block;
	width: 16rem;
	height: 16rem;
	padding: 1rem;
	margin: 1rem;
	border: 4px solid #b2badf;
}

.art.square {
	width: 24rem;
	height: 24rem;
}

.art.long {
	width: 32rem;
}

.art svg {
	width: 100%;
	height: 100%;
}
.art:hover {
	box-shadow: 0.5rem 0.5rem 0 #d4d4dd;
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}